<% wrap_layout :layout do %>
  <div class="page-banner">
    <p><strong>The DfE technical guidance and its content is intended for use by Lead Providers of the Continuing Professional Development Service.</strong></p>
  </div>

  <%= yield %>
<% end %>
