<h1 class="govuk-heading-xl">Choose your school</h1>

<p>Please choose from schools located in</p>

<%= f.govuk_text_field :school_name, width: 20, label: {
  text: "Enter your School name",
  style: "font-weight: 700",
} %>

