<h1 class="govuk-heading-xl">Contact details</h1>

<p>We need this to inform the provider pf how to send you information about the NPQ.</p>

<%= f.govuk_email_field :email,
                        width: 20,
                        label: { text: 'Email address' } %>
