<h1 class="govuk-heading-xl">I don't know if I updated my name</h1>

<p>If you are unsure about your DQT details, you can request a reminder.</p>

<h2 class="govuk-heading-m">Request a TRN reminder by email</h2>

<p>Send an email <a href="mailto:qts.enquiries@education.gov.uk">qts.enquiries@education.gov.uk</a> which includes your:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>full name</li>
  <li>date of birth</li>
  <li>National Insurance number</li>
</ul>

<h2 class="govuk-heading-m">Request a TRN reminder by phone</h2>

<p>Call the Teaching Regulation Agency on 020 7593 5394<br>Make sure you have your National Insurance number ready before you call.</p>
